.Logo span {
  font-family: "Permanent Marker", cursive;
  color: #654321;
  font-size: 2.3rem;
}
.Logo {
  display: flex;
  align-items: center;
}
.Logo img {
  margin: 10px;
  height: 50px;
  width: 50px;
}
.Logo span {
  font-family: "Permanent Marker", cursive;
  color: #654321;
  font-size: 28px;
  font-weight: bold;
}
