.Ingredient {
  height: 45px;
  width: 45px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100%;
}
.FrenchCookie {
  background-image: url(../../../../assets/FrenchCookie.svg);
  width: 55px;
  height: 55px;
}
.MexicanCookie {
  background-image: url(../../../../assets/MexicanCookie.svg);
  width: 55px;
  height: 55px;
}
.RainbowCookie {
  background-image: url(../../../../assets/RainbowCookie.svg);
  width: 55px;
  height: 55px;
}
.SerinakakerCookie {
  background-image: url(../../../../assets/SerinakakerCookie.svg);
  width: 55px;
  height: 55px;
}
.SpanishСookie {
  background-image: url(../../../../assets/SpanishСookie.svg);
  width: 55px;
  height: 55px;
}
.TahiniСookie {
  background-image: url(../../../../assets/TahiniСookie.svg);
  width: 55px;
  height: 55px;
}

@media (min-width: 720px) {
  .Ingredient {
    width: 50px;
    height: 50px;
    background-size: contain;
  }
}















