.Toolbar {
  display: flex;
  justify-content: space-between;

  background-color: #ec6f31;
}

.Toolbar nav {
  display: none;
}
@media (min-width: 500px) {
  .Toolbar nav {
    display: block;
  }
}
