.Ingredients .pita {
  border: 3px solid black;

  margin: 0 auto;
  width: 400px;
  height: 400px;
  margin: 8px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: wrap;
  overflow: hidden;
  border-radius: 100%;
  position: relative;
  background-image: url(../../../assets/plate-svgrepo-com.svg);
  background-size: contain;

}
.Ingredients .price {
  font-size: 2rem;
  text-align: center;
  color: #fed172;
  font-family: "Permanent Marker", cursive;
  font-weight: bold;
}

@media (min-width: 400px) {
  .Ingredients  {
    width: 400px; 
  }
}