.Cookies {
  width: 50px;
  height: 50px;
  box-sizing: border-box;

  margin-right: 0.5rem;
  margin-bottom: 0.5rem;

  background-size: contain;
}

.FrenchCookies {
  background-image: url("../../../../assets/FrenchCookies.jpg");
}
.MexicanCookie {
  background-image: url("../../../../assets/MexicanCookie.jpg");
}
.RainbowCookie {
  background-image: url("../../../../assets/RainbowCookie.jpg");
}
.SerinakakerCookie {
  background-image: url("../../../../assets/SerinakakerCookie.jpg");
}
.SpanishСookie {
  background-image: url("../../../../assets/SpanishСookie.jpg");
}
.TahiniСookie {
  background-image: url("../../../../assets/TahiniСookie.jpg");
}

@media (min-width: 720px) {
  .Cookies {
    width: 60px;
    height: 60px;
  }
}
