.Cookies {
    width: 50px;
    height: 50px;
    box-sizing: border-box;

    margin-right: .5rem;
    margin-bottom: .5rem;
  
    background-size: contain;


}

.FrenchCookies{
    background-image: url("../../../../assets/FrenchCookies.jpg");
}
.MexicanCookie{
    background-image: url("../../../../assets/MexicanCookie.jpg");
}
.RainbowCookie{
    background-image: url("../../../../assets/RainbowCookie.jpg");
}
.SerinakakerCookie{
    background-image: url("../../../../assets/SerinakakerCookie.jpg");
}
.Spanish小ookie{
    background-image: url("../../../../assets/Spanish小ookie.jpg");
}
.Tahini小ookie{
    background-image: url("../../../../assets/Tahini小ookie.jpg");
}