.Cookies {
  width: 45px;
  height: 45px;
  box-sizing: border-box;

  margin-right: 0.5rem;
  margin-bottom: 0.5rem;

  background-size: contain;
}

.FrenchCookies {
  background-image: url("../../../../assets/FrenchCookie.svg");
  width: 55px;
  height: 55px;
}
.MexicanCookie {
  background-image: url("../../../../assets/MexicanCookie.svg");
  width: 55px;
  height: 55px;
}
.RainbowCookie {
  background-image: url("../../../../assets/RainbowCookie.svg");
  width: 55px;
  height: 55px;
}
.SerinakakerCookie {
  background-image: url("../../../../assets/SerinakakerCookie.svg");
  width: 55px;
  height: 55px;
}
.SpanishСookie {
  background-image: url("../../../../assets/SpanishСookie.svg");
  width: 55px;
  height: 55px;
}
.TahiniСookie {
  background-image: url("../../../../assets/TahiniСookie.svg");
  width: 55px;
  height: 55px;
}

@media (min-width: 720px) {
  .Cookies {
    width: 55px;
    height: 55px;
    background-size: contain;
  }
}
