.Button {
  border: none;
  background-color: white;
  color: #654321;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Permanent Marker";
  padding: 5px 10px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.Button {
  opacity: 0.8;
}
.Button:not(:disabled):hover {
  opacity: 0.9;
}
.green {
  background-color: rgb(43, 180, 43);
  color: white;
}
.red {
  background-color: rgb(228, 43, 43);
  color: white;
}
