.CookiesControls {
  border: 3px solid rgb(162, 167, 168);
  background-color: aqua;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin: 0 .5rem;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

