.CookiesControls {
    border: 3px solid rgb(162, 167, 168);
    background-color: rgb(23, 218, 192);
    width: 300px;
    border-radius: .5rem;
    padding-top: .5rem;
    padding-left: .5rem;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}