* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 3rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 3rem;
}
h1,
h2,
h3 {
  color: #654321;
  font-family: "Permanent Marker", cursive;
  width: 100%;
  text-align: center;
  margin-top: 0;
}
