* {
  box-sizing: border-box;
}
body{
  margin: 0 ;
  padding: 0;
}
h2 {
  color: #654321;
  font-family: "Permanent Marker", cursive;  width: 100%;
  text-align: center;
  font-size: 3rem;
  margin-top: 0;
}