.CookiesControl {
  display: flex;
  align-items: center;
}
.CookiesControl .label {
  color: white;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 1.5rem;
  padding: .4rem 1rem;
}
.CookiesControl button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: white;
  color: #EC6F31;
  font-weight: bold;
  border-radius: 100%;
  cursor: pointer;
}
.CookiesControl button:disabled {
  opacity: .5;
}
.CookiesControl button:not(:disabled):hover {
  opacity: .8;
}

@media (min-width: 500px) {
  .CookiesControl .label {
    font-size: 2rem;
  }
}