.CookiesControl {
  box-sizing: border-box;
  margin-top: 3px;
  display: flex;
  align-items: center;
}
.CookiesControl .label {
  color: #654321;
  font-family: "Permanent Marker", cursive;;
  font-size: 1rem;
  padding: .5rem ;
}
.CookiesControl button {
  width: 25px;
  height: 25px;
  border: none;
  background-color: white;
  color: #654321;
  font-weight: bold;
  border-radius: 100%;
  cursor: pointer;
}
.CookiesControl button:disabled {
  opacity: .5;
}
.CookiesControl button:not(:disabled):hover {
  opacity: .8;
}
