.CookiesKit {
  padding: 0 .5rem;
  width: 100%;
}
.CookiesKit .bento {
  padding: 1rem;
  padding-top: 1rem;
  margin: 0 auto;
  
  background-color: lightgray;
  width: 100%;
  min-height: 300px;

  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;

  overflow: hidden;
}
.CookiesKit .price {
  font-size: 2rem;
  text-align: center;
  color: #654321;

  font-family: "Permanent Marker", cursive;
  font-weight: bold;
}

@media (min-width: 400px) {
  .CookiesKit {
    width: 400px;
  }
}