.CookiesKit .bento{
    padding: 1rem;
    padding-left: 2rem;

    background-color: lightgray;
    width: 400px;
    height: 400px;
    
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;

    overflow: hidden;
}
.CookiesKit .price {
    font-size: 2rem;
    font-weight: bold;
}