.CookiesKit {
  padding: 0 .5rem;
}
.CookiesKit .bento {
  padding: 1rem;
  padding-left: 2rem;
  margin: 0 auto;

  background-color: lightgray;
  width: 100%;
  max-width: 400px;
  min-height: 400px;

  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;

  overflow: hidden;
}
.CookiesKit .price {
  font-size: 2rem;
  font-weight: bold;
  color: #654321 ;
}
